CompileFlags:
    Add:
        - -Id:\Program Files\Compiler\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\13.3.1
        - -Id:\Program Files\Compiler\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\13.3.1\arm-none-eabi\thumb\v7e-m+fp\hard
        - -Id:\Program Files\Compiler\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\13.3.1\backward
        - -Id:\Program Files\Compiler\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\lib\gcc\arm-none-eabi\13.3.1\include
        - -Id:\Program Files\Compiler\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\lib\gcc\arm-none-eabi\13.3.1\include-fixed
        - -Id:\Program Files\Compiler\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include
    CompilationDatabase: ./build/Debug
    Compiler: d:\Program Files\Compiler\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\bin\arm-none-eabi-g++.exe
